* {
    box-sizing: border-box;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.user-modification {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#squares-amount {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-size:22px;
}

#color {
    width: 80px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
}

.container {
    flex: 0 1 auto;
    width: 960px;
    margin: 20px auto;
}

#app {
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
}

#app div {
    flex: 0 0 auto;
    border: 1px solid black;
}




